{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <header id="home-header">
        <div id="header-img">
        <h1>Louiza GADFEL </h1>
        <h2>Dévloppeur Web et Mobile</h2>
    </div>
    </header>
    <div class="row">
        <div class="col-12">
            <h2>projets</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-4 p-3">
            <div class="card">
                <img src="panier.jpeg" class="card-img-top" alt="photo principale ">
                <div class="card-body">
                    
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nom:</li>
                    <li class="list-group-item">Titre </li>
                </ul>
                <div class="card-body text-center">
                    <a href="#" class="btn btn-outline-secondary">Voir plus</a>
                </div>
            </div>
        </div>

</div>

<div class="row">
<div class="col-12 text-center">
    <a href="{{ "" }}" class="btn btn-secondary">Voir tout</a>
</div>
</div>


        <div class="">
            <h2>Competences</h2>
            <li class="">Technologies</li>
            <li class="">Frameworks / bibliothèques </li>
            <li class="">CMS</li>
            
            
        </div>


    <div class="row">
        <ul>
            <li class="list-group-item">:</li>
        </ul>
    </div>

    </main>


{% endblock %}





