<p>
    <b>Coordonnées du contact</b> 
    <ul>
        <li>Nom : {{ nom }} {{ prenom|upper }}</li>
        <li>Email : {{ addressEmail}}</li>
    </ul>
 </p>

 
 <h2>Message :</h2>
 <p>{{ message|nl2br }}</p>